.Rproj.user
.Rhistory
.RData
.Ruserdata
GWMC_HOT_COLD/GWMC_HOT_COLD_ASVs_table.tsv
GWMC_ASIA_NA/GWMC_ASIA_NA_ASVs_table.tsv
GWMC_HOT_COLD/GWMC_HOT_COLD_ASVs_table.tsv
GWMC_ASIA_NA/GWMC_ASIA_NA_ASVs_table.tsv
